@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-circle-0 { 
        clip-path: circle(0% at 50% 50%); 
    }
    .clip-circle-50 { 
        clip-path: circle(28% at 50% 50%); 
    }
    .clip-circle { 
        clip-path: circle(70% at 50% 50%); 
    }

}

*{
    padding: 0;
    margin: 0;  
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 1.7rem;
}
p{
    font-size: 1.5rem;
}






 